<!DOCTYPE html>
<html>

<head>
  <title>RedditPicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <NAV class="navbar">
    <% if user_signed_in? %>
      <li>
      <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>    
      <%= link_to('Settings', edit_user_registration_path) %>    
      </li>
    <% else %>
      <li>
      <%= link_to('Sign in', new_user_session_path)  %>  
      <%= link_to('Sign up', new_user_registration_path) %>
      </li>
    <% end %>
    
    <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "Subreddit") %>
        <%= text_field_tag(:q, params[:q]) %>
        <%= label_tag(:p, "Filter By(Top/Time)") %>
        <%= text_field_tag(:p, params[:p]) %>
        <%= label_tag(:w, "Day/Week/Month/Year/All") %>
        <%= text_field_tag(:w, params[:w]) %>
        <%= label_tag(:r, "Page") %>
        <%= text_field_tag(:r, params[:r]) %>
        <%= submit_tag("Search") %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to('My Likes', likes_path) %>
    <% end %>
  </NAV>

<%= yield %>

</body>
</html>
